.contenedorItem{
    margin:3rem;
    display: flex;
}

.imgContainer{
    width: 50vw;
    display: flex;
    justify-content: center;
}

.imgItem{
   width: 95%;  
   height: 450px;
   object-fit: cover;   
}

.itemDescription{
    width:50vw;
    padding: 3rem;
}
h3, p{
    margin:5px;
}